Список всего, что юзалось:
os
urllib.request
zipfile
PIL
numpy
pandas
torch
torchvision.transforms
torch.utils.data
matplotlib.pyplot
segmentation_models_pytorch
torch.nn
torch.optim
tqdm
transformers
time
